@use './variables' as *;

body {
    font-family: $font-face;
    font-size: $size-increment-x2;
    line-height: $size-increment-x2-1;
    font-weight: $font-weight-light;
    color: $alternate-color-main;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: $alternate-color-quartary;
    font-weight: $font-weight-medium;
    -webkit-font-smoothing: antialiased;

    transition: color .3s ease-in-out;

    &:hover, &:active, &:focus {
        color: $alternate-color-main;
    }
}

.flex-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.container {
    @extend .flex-container;
    max-width: 720px;
    margin: auto;
}

h1,
h2 {
    font-size: $size-increment-x2-1;
    line-height: $size-increment-x3;
    font-weight: $font-weight-light;
}

h3,
h4 {
    font-weight: $font-weight-medium;
}
