@use './partials/variables' as *;
@use './partials/globals' as *;

html,
body,
.container {
    min-height: 100vh;
}

html, body {
    background: radial-gradient(
        rgba(74, 0, 0, 1), rgba(0,0,0,1)
    )
}

.container {
    @extend .container;
}

#tsparticles {
  position:absolute;
  width: 100%;
  height: 100%;
}

.splash {
    text-align: center;;
    z-index: 1;
    background: radial-gradient(
        rgba(74, 0, 0, .8) 1%, rgba(0,0,0,0) 80%
    );
    
    &__title {
        font-size: $size-increment-x4;
        text-transform: uppercase;
        margin-bottom: $size-increment-x1-2;
    }

    &__source {
        color: $alternate-color-tertiary;
        font-size: $size-increment-x2;
    }

    &__order {
        margin-top: $size-increment-x4;
    }

    &__choose {
        font-size: $size-increment-x2-1;
        color: $alternate-color-main;
        font-weight: $font-weight-medium;
        margin-bottom: $size-increment-x1-1;
    }

    &__action {
        margin-left: $size-increment-x3;

        &:first-child {
            margin-left: 0;
        }
        &:hover > .splash__icon {
            color: $alternate-color-main;
        }
    }

    &__icon {
        color: $alternate-color-quartary;
        font-size: $size-increment-x1-2;
        transition: color .3s ease-in-out;
    }
}

.quote {
    text-align: center;;
    z-index: 1;
    background: radial-gradient(
        rgba(74, 0, 0, .8) 1%, rgba(0,0,0,0) 80%
    );

    &__text {
        font-weight: $font-weight-medium;
        font-size: $size-increment-x2-1;
        margin-bottom: $size-increment-x1;

        &:before {
            content: open-quote;
        }
        &:after {
            content: close-quote;
        }
        quotes: "\201C""\201D""\2018""\2019";
    }

    &__author {
        &:before {
            content: '- ';
        }
    }

    &__actions {
        margin-top: $size-increment-x4;
    }

    &__action {
        margin-left: $size-increment-x4;
        color: $alternate-color-quartary;

        &:hover > .quote__icon {
            color: $alternate-color-main;
        }
    }

    &__rank {
        font-weight: $font-weight-medium;
        font-size: $size-increment-x2-1;

        &:hover {
            cursor: pointer;
        }
    }
    
    &__icon {
        color: $alternate-color-quartary;
        margin-right: $size-increment-x1;

        transition: color .3s ease-in-out;
    }
}